* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #e9d6cd;

}
nav {
    display: flex;
    justify-content: center;
}
ul {
    display: inline;
    list-style: none;
}
ul li {
    display: inline-block;
    padding: 30px;
    cursor: pointer;
    font-size: 20px;
}
.content {
    position: absolute;
    top: 27vh;
    left: 10%;
    width: 33%;
}
.content h1 {
    font-size: 60px;
    color: navy;
}
hr {
    margin-top: 30px;
    width: 20%;
    height: 6px;
    background: #000;
}
.theme-toggle {
    margin-right: 20px;
}

.theme-toggle label {
    cursor: pointer;
}
.content p{
    margin-top: 30px;
    font-size: 16px;
}
button{
    margin-top: 20px;
    background: burlywood;
    border: none;
    outline: .04em;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 56%;
    animation: animate 1s ease-in-out;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
body.dark-mode {
    background-color: #333;
    color: #fff;
}

nav.dark-mode {
    background-color: #444;
}

nav.dark-mode ul li a {
    color: #eee;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f9f9f9;
}

*::-webkit-scrollbar-track {
    background: #f9f9f9;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  footer p {
    margin: 0;
  }
  
