body {
    background-color: #e9d6cd;
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    border: solid wheat;
}

h2 {
    font-size: 30px;
}
.established {
    color: rgb(15, 9, 140);
    font-style: italic;
}
h1, h2, p {
    color: rgb(15, 9, 140);
    text-align: center;
}
.menu {
    max-width: 900px;
    margin: 0 auto;
}

.menu-items {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
    margin: 0 10px;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 25px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.item p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
}

.flavor, .dessert {
    flex: 0 0 70%;
    text-align: left;
}

.price {
    flex: 0 0 25%;
    text-align: right;
}

footer {
    font-size: 14px;
}

a {
    color: rgb(55, 15, 177);
}

a:visited {
    color: rgb(35, 5, 127);
}

a:hover {
    color: brown;
}

a:active {
    color: rgb(15, 100, 87);
}
#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}
